#question-1,
#question-2,
#question-3,
#question-4,
#question-5,
#javascript-suggestion,
#python-suggestion,
#c-suggestion,
#error {
  display: none;
}
img {
  float: right;
}
button {
  margin-top: 2em;
}
hr {
  border-top: 1px solid black;
}